.tabs {
  margin: 10px;
  color: #57575a;
}

.tab {
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  bottom: -1px;
  transition: 0.2s;
  box-sizing: border-box;
}

.tab:hover {
  border-color: #f1f1f2;
  border-bottom-color: #fff;
  cursor: pointer;
}

.tab--active {
  color: #4c678f;
  border-color: #f1f1f2;
  border-bottom-color: #fff;
}

.text-field {
  color: #181818;
  border-top: 1px solid #f1f1f2;
  padding-top: 10px;
  padding-left: 15px;
  min-height: 200px;
  max-width: 400px;
}